*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
  
.info--error{
    margin:10px;
    background: white;
    width: 50%;
    color: #FA574D;
    display:none;
}
.container{
    display:flex;
    flex-direction: column;
}
.input--error{
    box-shadow: 0 0 10px 1px rgba(255, 0, 0, 0.5)!important;
}
.input--correcto{
    box-shadow: 0 0 10px 1px rgba(0, 255, 34, 0.5)!important;
}
.inputText{
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.096);   

}
.inputText:focus{
    outline: none;    
    box-shadow: 0 0 1px 3px rgba(76, 0, 255, 0.5);
    border-radius: 7px;
}
.inputText:hover{
  box-shadow: 0 0 1px 3px rgb(182, 108, 243);
  
}




  th{    
    text-align: center;
    vertical-align:middle;
  }
  tr{
    text-align: center;
  }
  td{    
    text-align: center;
    vertical-align:middle;

  }
  



::-webkit-scrollbar {
  width: 10px;    
  margin-left:300px;
  
} 
::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.335);  
    
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.26); 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.109);
    border-radius: 40px; 
    
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); 
    box-shadow: inset 0 0 6px rgba(204, 35, 255, 0.877);     
    border-radius: 40px; 
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  select {
    cursor: pointer;
    box-shadow: -2px 3px 5px 0 rgba(0, 0, 0, 0.568);
    border-radius: 8px;
    border:none;      
    font-size: 16px;
    color: gray;
    width: 220px;
    height: 40px;
    outline: none;
    margin-left: 10px;  
  }

  select:hover{
    box-shadow: 0 0 1px 3px rgba(76, 0, 255, 0.5);
  }

  .boton-primario{    
    border: 2px solid rgba(104, 0, 173, 0.164);

    width: auto;
    height: 43px;
    margin:0 3px;
    padding:0 25px;
    font-weight: 400;
    
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.096);  
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .boton-primario:hover{
    background: rgb(182, 108, 243);
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.116); 

    color: white;
    cursor:pointer;
  }
  .boton-primario:focus{
    box-shadow: 0 0 5px 1px rgba(143, 45, 209, 0.534);
  }

  .boton-aceptar{
    border: 2px solid rgba(104, 0, 173, 0.164);
    width: auto;
    height: 43px;
    margin:0 3px;
    padding:0 25px;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.096); 
    background: rgb(109, 221, 146);
    border-radius: 5px;
    color: white;

  }

  .boton-aceptar:hover{
    background: rgb(100, 194, 104);
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.096);
    
    color: white;
    cursor:pointer;
  }

  .boton-cancelar{
    border: 2px solid rgba(104, 0, 173, 0.164);
    width: auto;
    height: 43px;
    margin:0 3px;
    padding:0 25px;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.096); 
    background: rgb(240, 72, 72);
    border-radius: 5px;
    color: white;

  }

  .boton-cancelar:hover{
    background: rgb(240, 90, 72);
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.096);
    color: white;
    cursor:pointer;
  }

  .boton-mini{
    border: 2px solid rgba(104, 0, 173, 0.164);
    width: auto;
    height: 43px;
    margin:0 3px;
    padding:0 25px;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.096); 
    background: #22C9C9;
    border-radius: 5px;
    color: white;
    cursor:pointer;
  }
  .boton-mini:hover{    
    background: #2eacac;

  }
  .boton-mini:focus{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.534);
  }
