.Container-Elements {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  flex-direction: row;
}

.producto {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  width: 250px;
  justify-content: center;
  backdrop-filter: blur(2px);
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.061);
  border: 3px solid rgba(0, 0, 0, 0.137); 
  border-radius: 15px;
  margin: 10px;
  /* background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn; */
 
  color:black;
  box-shadow: -2px -2px 3px 4px rgba(255, 255, 255, 0.116);
  transition: all .1s .0s ease-in;
  
}

.producto:hover{  
  background-image: linear-gradient(120deg, #ffffff 0%, #f3f3f3 100%)!important;
  border: 3px solid rgba(178, 83, 255, 0.315)!important; 
  border-radius: 20px;  
  box-shadow: 0 0 3px 5px rgba(255, 255, 255, 0.979);
   
  backdrop-filter: blur(25px);
}


.Titulo-seccion {
  margin-left: 28px;
  margin-top: 20px;
  color: lightslategrey;
}

.Header-seccion {
  position: sticky;  
  display: flex;
  z-index: 10;
  flex-direction: row;
  align-items: center;
  background: white;
  top: 0px;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
